mixin footer
  .footer
    .footer__left
      .footer__address Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021
    .footer__right
      .footer__ui-version UI: 0.1.15
      .footer__copyright © 2007—2019 #[a(href="#") Yandex]