.theme_color_project-default {
  --text-primary: #000000;
  --text-secondary: #7F8285;
  --text-ghost: #B8BEC3;
  --text-link: #1774E9;
  --text-accent: #FF3029;

  --border-primary: #E5E5E5;
  --border-secondary: #F2F2F2;
}