mixin headerMenu
  ul.header-menu
    li.header-menu__item.header-menu__dropdown-item.header-menu__item_selected
      a.header-menu__link
        .header-menu__text #[b Repository] #[span Arc]
        i.i.i-arrow.i-arrow_color_primary.i-arrow_size_s