include ../../content/history/history

mixin historyInstance
  +history([
    {
      title: 'Today',
      items: [
        {
          title: 'Support new distbuild protocol',
          hash: '<a href="#">s324e8</a>',
          description: 'Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.',
          authordate: 'by <a href="#@">woodcutter</a>, 4 s ago'
        },
        {
          title: 'Force executing on MULTISLOT hosts by declaring Caches',
          hash: '<a href="#">s324e8</a>',
          description: 'Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.',
          authordate: 'by <a href="#@">rudskoy</a>, 1 min ago'
        },
        {
          title: 'Fixed run_diff_test in the realm',
          hash: '<a href="#">s324e8</a>',
          description: 'Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.',
          authordate: 'by <a href="#@">annaveronika</a> at 16:25'
        }
      ]
    },
    {
      title: 'Yesterday',
      items: [
        {
          title: 'Support HTTP resources',
          hash: '<a href="#">s324e8</a>',
          description: 'Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.',
          authordate: 'by <a href="#@">woodcutter</a>, 4 s ago'
        },
        {
          title: 'Fixed run_diff_test',
          hash: '<a href="#">s324e8</a>',
          description: 'Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.',
          authordate: 'by <a href="#@">rudskoy</a>, 1 min ago'
        },
        {
          title: 'Update ya-bin and test_tool',
          hash: '<a href="#">s324e8</a>',
          description: 'Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.',
          authordate: 'by <a href="#@">annaveronika</a> at 16:25'
        }
      ]
    },
    {
      title: 'Jan 11',
      items: [
        {
          title: 'Support HTTP resources',
          hash: '<a href="#">s324e8</a>',
          description: 'Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.',
          authordate: 'by <a href="#@">woodcutter</a>, 4 s ago'
        },
        {
          title: 'Fixed run_diff_test',
          hash: '<a href="#">s324e8</a>',
          description: 'Не очень правильно с точки зрения ООП написаны некоторые функции. Предлагаю исправить это.',
          authordate: 'by <a href="#@">rudskoy</a>, 1 min ago'
        }
      ]
    }
  ])