.Theme_color_project-default {
  --color-primary: #000000;
  --color-secondary: #7F8285;
  --color-ghost: #B8BEC3;
  --color-link: #1774E9;
  --color-accent: #FF3029;

  --border-color-primary: #E5E5E5;
  --border-color-secondary: #F2F2F2;
}