.DropdownMenu {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 266px;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(53, 73, 93, 0.2);
  padding: 6px 0 10px 0;
  background-color: white;
}