.FileViewTable-StringCell {
  padding-left: 32px;
  padding-right: 16px;

  pre {
    margin: 0;
    white-space: normal;
    font-family: PT Mono;
    white-space: pre-wrap;
    word-break: break-word;
  }
}