.details__wrapper {
  padding: 16px 0;
}

@media screen and (max-width: 700px) {
  .details__wrapper {
    padding-bottom: 0;
  }

  .details__header,
  .details__body {
    border-left: none !important;
    border-right: none !important;
  }

  .details__ext-icon {
    margin-right: 6px;
  }

  .details__download {
    display: none;
  }

  .details__body {
    border-bottom: none;

    td:nth-child(1) {
      min-width: 31px !important;
    }

    td:nth-child(2) {
      padding-left: 12px !important;
    }
  }
}