.python {
  color: #00234b;
}

.python__keyword {
  font-weight: bold;
}

.python__string {
  color: #005fba;
}

.python__funcName {
  color: #005fba;
  font-weight: bold;
}

.python__comment {
  color: #8694a2;
}